<md-card *ngFor="let p of peopleList(people)">
	<md-card-title>Client - {{p.name}}</md-card-title>
	<md-card-content>
		
		<div class="row">
			<div class="col-xs-10">
				<div class="box">Number of Guests:</div>
			</div>
			<div class="col-xs-2">
				<div class="box">{{p.guests}}</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6">
				<div class="box">
					<button
							md-raised-button
							color="accent"
							(click)="addGuest.emit(p)"> Add Guest
					
					</button>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="box">
					<button
							*ngIf="p.guests > 0"
							md-raised-button
							color="warn"
							(click)="removeGuest.emit(p)"
					> Remove Guest
					</button>
				</div>
			</div>
		</div>
		
		
		<div class="col-xs-12">
			<div class="box">
				
				<md-checkbox
						[checked]="p.attending"
						(change)="toggleAttending.emit(p)"
				>Attending
				</md-checkbox>
			</div>
		</div>
	</md-card-content>
	
	<md-card-actions>
		<div class="col-xs-12">
			<div class="box" style="text-align: right;">
				<button
						md-mini-fab
						color="warn"
						(click)="removePerson.emit(p)"
				>X
				</button>
			</div>
		</div>
	</md-card-actions>

</md-card>